{% extends 'main/base.html' %}

{% block title %}Информация 1{% endblock %}

{% block content %}
<h1>ARTHUR MORGAN</h1>

<!-- Раздел 1 -->
<h2 id="section1">Раздел 1</h2>
<ul>
    <li>Пункт 1</li>
    <li>Пункт 2</li>
</ul>

<!-- Раздел 2 -->
<h2 id="section2">Раздел 2</h2>
<ol>
    <li>Первый элемент</li>
    <li>Второй элемент</li>
    <li>Третий элемент</li>
</ol>

<!-- Изображение -->
<img src="https://via.placeholder.com/150" alt="Пример изображения">
<p>Это пример изображения с пояснением.</p>

<a href="#section1">Вернуться к разделу 1</a>
{% endblock %}