<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/content.css' %}" rel="stylesheet" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sigmar&display=swap" rel="stylesheet">

</head>
<body>
    <!-- навигация -->
    <nav class = 'navigation'>
        <ul>
            <li><a href="{% url 'home' %}">HOME</li></a>
            <li><a href="{% url 'info1' %}"> Character 1 <li></a>
            <li><a href="{% url 'info2' %}#section2">Character 2<li></a>
            <li><a href="https://reddead.fandom.com/ru/wiki/Red_Dead_Redemption" target="_blank">RDR WIKI</a></li>
            <li><a href="#footer">К началу страницы</a></li>
        </ul>
    </nav>

    <!-- Основное содержимое -->
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Подвал -->
    <footer id="footer">
        <p>© 2023 My Site</p>
    </footer>
</body>
</html>